<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fad9d">  <td>19/03/03 16:48:58</td>   <td>0</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:test.AcmePOM@6536e911]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/03/03 16:48:47</td>   <td>-11132</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:test.AcmePOM@6536e911]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/03/03 16:48:48</td>   <td>-10587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:test.AcmePOM@6536e911]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/03/03 16:48:47</td>   <td>-11293</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:test.AcmePOM@6536e911]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="9fad9d">  <td>19/03/03 16:48:58</td>   <td>-173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:test.AcmePOM@6536e911]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/03/03 16:48:53</td>   <td>-4798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AcmePOM.getVendorName(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:test.AcmePOM@6536e911]">getVendorName</td> 
  <td>main@1731722639</td>   <td></td> </tr>
<tr bgcolor="6ab1ab">  <td>19/03/03 16:48:47</td>   <td>-11133</td> <td>&nbsp;</td><td title="&gt;&gt;AcmePOM.setData()[pri:0, instance:test.AcmePOM@6536e911]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1731722639</td>   <td></td> </tr>
</table>
